[submodule ".registry"]
	path = .registry
	url = https://github.com/obenno/obenno.r-universe.dev
	branch = HEAD
[submodule "scSpotlight"]
	path = scSpotlight
	url = https://github.com/obenno/scSpotlight
	branch = *release
